.app {
	max-width: 1400px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

#main {
	height: 100%;
}

// a {
// 	color: #777651;
// 	color: #be631e;
// 	color: #4169be;
// 	color: #dab110;
// 	color: #7AC74C;
// 	color: #4d9c98;
// 	color: #C22E28;
// 	color: #A33EA1;
// 	color: #a78b45;
// 	color: #654ea3;
// 	color: #c73762;
// 	color: #6b7713;
// 	color: #8b7b28;
// 	color: #422d5e;
// 	color: #4922aa;
// 	color: #4b382b;
// 	color: #424253;
// 	color: #864063;
// }