.app {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

#main {
	height: 100%;
}

.search-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 3vw;
	flex: 0 0;

	@include sm {
		flex-direction: column;
	}
}

.videos {
	display: flex;
	align-items: flex-start;
	flex: 1 0;
	overflow: hidden;

	@include md {
		flex-direction: column;
		align-items: center;
	}
}
