.card-positioner {
  @include center;
  flex-direction: column;
}

.divider {
  display: block;
  flex: 0 0 2px;
  height: 2px;
  width: 100%;
  background-color: rgba($p-blue-dark, 0.8);
  margin: 1vmin 0;
}

.card {
  $card-font-size: 3vmin;
  // width: calc(80vmin - 2 * #{$body-padding});
  background-color: $p-blue;
  border: 2vmin solid $p-yellow;
  border-radius: 1.5vmin;
  padding: 2vw;
  font-size: 2vw;
  
  &__container {
    @include aspect-ratio-parent(400 / 650);
    overflow: visible;
  }

  &__wrapper {
    @include aspect-ratio-child;
    @include center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5vmin;
  }

  &__header-right {
    @include center;
  }

  &__name {
    font-size: calc(1.75 * #{$card-font-size});
    margin-bottom: 0;
    line-height: 1.2;
  }

  &__hit-points {
    font-size: calc(1.5 * #{$card-font-size});
    @include ff-medium;
    color: $red;
    margin-right: 1vmin;
  }

  &__type-badge {
    width: 6vmin;
  }
  
  &__image {
    $border-width: 1vmin;
    width: calc(100% - 2 * #{$border-width});
    height: calc(40% - 2 * #{$border-width});
    display: block;
    object-fit: cover;
    object-position: center;
    border: $border-width solid $p-yellow;
    margin-bottom: 1vmin;
    position: relative;
  }

  &__anatomy {
    @include center;
    @include ff-medium;
    font-size: 75%;
    background-color: $p-yellow;
    color: $black;
    padding: 0.25vmin 2vmin 0.5vmin;
    line-height: 1.2;
  }

  &__anatomy-text {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__attacks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }

  &__attack {
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 1vmin 0;

    &:not(:last-child) {
      border-bottom: 0.25vmin solid rgba($p-blue-dark, 0.8);
    }
  }

  &__attack-energy-cost {
    @include center;
    flex-wrap: wrap;
    flex: 0 0 3.5rem;
    font-size: calc(2 * #{$card-font-size});
    margin-right: 1vmin;
  }

  &__attack-name {
    @include ff-medium;
  }

  &__attack-name-description {
    margin-right: 1vmin;
  }

  &__attack-description {
    font-size: 80%;
  }

  &__attack-damage {
    flex: 0 0 3rem;
    font-size: calc(1.75 * #{$card-font-size});
  }

  &__utility-stats {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1vmin;
    font-size: 80%;
    padding-top: 1vmin;
    border-top: 0.25vmin solid rgba($p-blue-dark, 0.8);
  }

  &__utility-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2vmin;
    }
  }

  &__utility-stat-text {
    @include ff-medium;
    line-height: 1;
    margin-bottom: 1vmin;
  }

  .type.weakness {
    width: 4vmin;
  }

  .resistance {
    flex: 1 0;
    text-align: center;
  }

  &__description {
    @include ff-medium;
    font-size: 80%;
    line-height: 1.2;
    font-style: italic;
    padding: 0.5vmin 1vmin 0.75vmin;
    border: 0.4vmin solid $p-yellow;
  }

  &__footer {
    font-size: 70%;
    opacity: 0.8;
    margin: 0.25vmin 0;
  }
}