// Variables
$body-padding: 4vmin;
$corner-radius: 0.5rem;
$aspect-ratio: 2 / 3;

// colors
$p-yellow: #ffcb05;
$p-yellow-dark: #c7a008;
$p-blue: #3c5aa6;
$p-blue-dark: #21386e;
$red: #dd2b2b;

$black: #242424;
$white: #fff;

